a#hov:hover 
{ COLOR: red;text-decoration:none; font-weight: bold;font-family:Georgia; }
a#hov{
color:black;
font-family:Georgia;

}
.thumbnail{

background-color:#F0F0F0;
}
#button{
font-weight:bold;
font-size:20px;
text-decoration:none;
color:white;
}
#button:hover{
color:white;
}
#img{
opacity:100%;

}
#img:hover{
opacity:85%;
scale:1.05;
}
