.watch_but {
  /* display: inline-block;
  background: #db9603;
  position: relative;
  border-radius: 2px;
  font-size: 13px;
  line-height: 11px;
  color: white !important;
  border-bottom: 1px solid #db9603;
  border-right: 1px solid #db9603;
  margin: 15px 0 0;
  padding: 12px 14px 9px 10px;
  text-decoration: none !important; */
}

.watch_but:hover {
  background-color: rgb(128, 0, 0) !important;
}

.manual-btn-red:hover {  
  background-color: rgb(128, 0, 0) !important;
}

.time-btn-1:hover {
  border-color: black;
}

/* .link4 {
  color: black;
} */

.link4:hover {
  color: rgb(165, 0, 0) !important;
}